{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global777.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index777.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    
  </head>
  <body>
    <div class="header7777">
      <div class="divreverso-header-wrapper7777">
        <div class="divreverso-header-left-wrappe7777">
          <div class="nav7777">
            <button class="link7777" >
              <div class="div7777">Определение</div>
            </button>
            <button class="link37777" id = ".link37777">
              <div class="div37777">Поставки</div>
            </button>
            <button class="link17777" id = "QWERTY">
              <div class="div17777">Главная страница</div>
            </button>
            <button class="link27777">
              <div class="div27777">Организации</div>
            </button>
            
          </div>
        </div>
        <div class="divreverso-header-right-wrapp7777">
          <button class="divreverso-user-menu7777" id = "registerButton1">
            <div class="divoption7777">
              <div class="div47777">Войти</div>
            </div>
          </button>
          <button class="divreverso-user-menu17777">
            <div class="divoption17777">
              <div class="div57777">Скачайте мобильную версию</div>
            </div>
            <img class="download-icon7777" alt="" src="{% static 'css/public1777/download.svg' %}" />
          </button>
          <button class="divoption-wrapper7777">
            <div class="divoption27777">
              <div class="ru7777">ru</div>
            </div>
            <img
              class="vector-icon7777"
              loading="lazy7777"
              alt=""
              src="{% static 'css/public1777/vector.svg' %}"
            />
          </button>
        </div>
      </div>
    </div>

    
      <div class="section">
        <img
          class="group-icon"
          loading="lazy"
          alt=""
          src="{% static 'css/public777/group@2x.png' %}"
        />

        <div class="user-round-search-link">
          <div class="advertising-space">
            <div class="advertising-space-inner">
              <div class="frame-group">
                <button class="section-wrapper">
                  <div class="section1">
                    <div class="welcome-message">
                      <div class="spanoption">
                        <img
                          class="spanflag-icon"
                          loading="lazy"
                          alt=""
                          src="{% static 'css/public777/spanflag@2x.png' %}"
                        />

                        <div class="spanlang-name">
                          <div class="div7">русский</div>
                        </div>
                      </div>
                    </div>
                    <div class="spansel-arrow">
                      <img
                        class="chevron-down-icon"
                        loading="lazy"
                        alt=""
                        src="{% static 'css/public777/chevrondown.svg' %}"
                      />
                    </div>
                    <img
                      class="arrow-right-icon"
                      loading="lazy"
                      alt=""
                      src="{% static 'css/public777/arrowright.svg' %}"
                    />
                  </div>
                </button>

                <button class="open-lang">
                  <div class="spanoption1">
                    <img
                      class="spanflag-icon1"
                      alt=""
                      src="{% static 'css/public777/spanflag-1@2x.png' %}" 
                    />

                    <div class="spanlang-name1">
                      <div class="div8">Английский</div>
                    </div>
                  </div>
                  <div class="top-bar-container">
                    <img
                      class="chevron-down-icon1"
                      alt=""
                      src="{% static 'css/public777/chevrondown.svg' %}" 
                    />
                  </div>
                </button>


              </div>
            </div>
            <div class="search-icon-parent">
              <div class="search-icon">
                <div class="divsearch-input">
                  <!--
                  <input class="divsearch-input-child" type="text" />-->
                  <input class="divsearch-input-child" type="text" placeholder="ДПАС" />
                  <style>
                    .divsearch-input-child {
                      display: flex;
                      align-items: flex-start;
                      box-sizing: border-box;
                    }

                    .divsearch-input-child {
                      border: 0;
                      outline: 0;
                      background-color: transparent;
                      flex: 1;
                      flex-direction: column;
                      justify-content: flex-start;
                      padding: var(--padding-11xs) 0 0;
                      font-family: var(--font-montserrat);
                      font-weight: 500;
                      font-size: var(--font-size-base);
                      color: var(--color-darkslategray-100);
                      min-width: 204px;
                    }
                    .divsearch-input-child::placeholder {
                      color: var(--color-gray);}
                  </style>


                   <img class="button-icon" alt="" src="{% static 'css/public777/button.svg' %}" />
                </div>
              </div>
              <button class="button">
                <img class="search5757" alt="" src="{% static 'css/public/button.svg' %}" />
              </button>

            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-content" style="display: none; width: 177px; height: 236px;"></div>
        <button class=" spanoption666 dropdown-content ">
          <img
            class="spanflag-icon666"
            loading="lazy"
            alt=""
            src="{% static 'css/public8/span.flag — копия.png' %}"
          />
  
          <div class="spanlang-name666">
            <div class="div666">Английский</div>
          </div>
        </button>
        
        <button class="chevron-down666 dropdown-content">
          <img
            class="vector-icon666"
            loading="lazy"
            alt=""
            src="{% static 'css/public8/vector.svg' %}"
          />
        </button>
        
        
        <button class="spanoption16666 dropdown-content">
          <img
            class="spanflag-icon16666"
            loading="lazy"
            alt=""
            src="{% static 'css/public8/span.flag.png' %}"
          />
  
          <div class="spanlang-name16666">
            <div class="div16666">Английский</div>
          </div>
        </button>
        
        <button class="spanoption26666 dropdown-content">
          <img
            class="spanflag-icon26666"
            loading="lazy"
            alt=""
            src="{% static 'css/public8/span.flag-1.png' %}"
          />
  
          <div class="spanlang-name26666">
            <div class="div26666">Испанский</div>
          </div>
        </button>
        
        
        <button class="spanoption36666 dropdown-content">
          <img
            class="spanflag-icon36666"
            loading="lazy"
            alt=""
            src="{% static 'css/public8/span.flag-2.png' %}" 
          />
  
          <div class="spanlang-name36666">
            <div class="div36666">Китайский</div>
          </div>
        </button>
        
        <button class="spanoption46666 dropdown-content">
          <img
            class="spanflag-icon46666"
            loading="lazy"
            alt=""
            src="{% static 'css/public8/span.flag-3.png' %}" 
          />
  
          <div class="spanlang-name46666">
            <div class="div46666">Русский</div>
          </div>
        </button>
        
        <button class="spanoption56666 dropdown-content">
          <img
            class="spanflag-icon56666"
            loading="lazy"
            alt=""
            src="{% static 'css/public8/span.flag-4.png' %}"
          />
  
          <div class="spanlang-name56666">
            <div class="div56666">Французский</div>
          </div>
        </button>
      
      </div>
          
      <main class="section-container">
        <section class="section2">
          <div class="settings-header">
            <div class="configurable-set">
              <div class="registration-button">
                <div class="r-p-a-s-heading-wrapper">
                  <div class="r-p-a-s-heading">
                    <div class="frame">
                      <div class="div9">
                        <span class="span">ДПАС - </span>
                        <span
                          >дистанционно-пилотируемая авиационная система</span
                        >
                      </div>
                    </div>
                    <img
                      class="button-icon1"
                      loading="lazy"
                      alt=""
                      src="{% static 'css/public777/button-1.svg' %}"
                    />
                  </div>
                </div>
                <div class="header-translation">
                  <div class="section-heading-4">
                    <div class="div10">Перевод "ДПАС" на английский</div>
                  </div>
                  <div class="loginor-register">
                    <div class="confirmation-message-parent">
                      <div class="confirmation-message">
                        <button class="section-button">
                          <div class="div11">Словосочетание</div>
                        </button>
                        <button class="section-button1">
                          <div class="div12">Общие понятия</div>
                        </button>
                      </div>
                      <div class="password-input">
                        <div class="section-link">
                          <div class="section-link-child"></div>
                          <div class="error-message">
                            <div class="remotely-piloted-aircraft-syst">
                              remotely-piloted aircraft system
                            </div>
                          </div>
                        </div>
                        <button class="section-link1">
                          <div class="section-link-item"></div>
                          <div class="rpas-wrapper">
                            <div class="rpas">RPAS</div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-heading-5-parent">
                <div class="section-heading-5">
                  <div class="div13">Определение</div>
                </div>
                <div class="mostof-information">
                  <div class="section3">
                    <a class="a-set-of"
                      >A set of configurable elements consisting of a
                      remotely-piloted aircraft, its associated remote pilot
                      station(s), the required command and control links and any
                      other system elements as may be required, at any point
                      during flight operation.</a
                    >
                  </div>
                  <img
                    class="button-icon2"
                    loading="lazy"
                    alt=""
                    src="{% static 'css/public777/button-2.svg' %}"
                  />
                </div>
              </div>
              <div class="section-heading-6-parent">
                <div class="section-heading-6">
                  <div class="div14">Контекст</div>
                </div>
                <div class="error-popup">
                  <div class="section4">
                    <a class="most-of-the"
                      >Most of the information in SKYbrary pertains to small
                      RPAS because many civilian aviation industry stakeholders
                      are involved in the integration of small RPAS or drones —
                      unlike larger RPAS — into national airspace systems any
                      may have some responsibility for addressing small-RPAS
                      operational safety issues likely to impact manned
                      aviation.</a
                    >
                    <div class="section-child"></div>
                    <div class="section-item"></div>
                    <div class="section-inner"></div>
                    <div class="rectangle-div"></div>
                  </div>
                  <img
                    class="button-icon3"
                    loading="lazy"
                    alt=""
                    src="{% static 'css/public777/button-2.svg' %}"
                  />
                </div>
              </div>
            </div>
            <div class="submit-registration-button">
              <div class="divregister-popup-bottom">
                <div class="divheader">
                  <div class="div15">
                    <span>Присоединяйтесь к Умному Словарю, это </span>
                    <span class="span1">удобно и</span>
                  </div>
                  <div class="link-user-round-search">
                    <div class="div16">
                      <span class="span2">бесплатно</span>
                      <span>!</span>
                    </div>
                  </div>
                </div>
                <div class="registeror-login-wrapper">
                  <div class="registeror-login">
                    <button class="link" id = 'registerButton555'>
                      

                      <img
                        class="user-round-search-icon"
                        alt=""
                        src="{% static 'css/public777/userroundsearch.svg' %}"
                      />

                      <div class="register-button"  >
                        <div class="div17">Зарегистрироваться</div>
                      </div>
                    </button>
                    <button class="link1" id= "registerButton33">
                      
                      <div class="frame-div">
                        <div class="div18">Войти</div>
                      </div>
                      <img
                        class="log-in-icon"
                        alt=""
                        src="{% static 'css/public777/login.svg' %}"
                      />
                      
                    </button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section5">
            <h1 class="h1">Тут могла быть ваша реклама</h1>
          </div>
        </section>
      </main>
    </div>
    <script src="{% static 'js/Mda1.js' %}"></script>
    <script src="{% static 'js/Whater.js' %}"></script>
    <script src="{% static 'js/Button1.js' %}"></script>
    <script src="{% static 'js/2STR.js' %}"></script>


  </body>
</html>
